<% layout('./layout/boilerplate') -%>
    <div class="container">
        <h1>Main page</h1>
    </div>
    <%for(Camp of Camps){%>
    <div class="container align-items-center mb-5">
        <div class="card">
        <div class="row">
                <div class="col-md-4">
                  <div class="card-body">
                  <img class="img-fluid" alt="" src="<%=Camp.photo%>" style="object-fit: cover; width: 600px; height:240px;">
                </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%=Camp.title%></h5>
                        <p class="card-text"><%=Camp.description%></p>
                        <p class="card-text"><%=Camp.price%>$/every night</p>
                        <p class="card-text"><small class="text-muted"><%=Camp.location%></small></p>
                        <a href="/main/show/<%=Camp.id%>" class="btn btn-primary d-block d-md-inline-block">Go somewhere</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <%}%>
    <div class="container d-flex justify-content-center mb-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
    </div>
</body>
</html>

